/data/raw_data/
/data/processed_data/
/data/intermediate/
/data/player_matches_played.csv

__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

.ipynb_checkpoints/

.env
.env.*
!.env.example

.vscode/
.idea/
.DS_Store

*.log
